.dashboard-products-image{
    height: 30px;
    width: 30px
}
.container-btn-admin-workers-products{
    /* background-color: blueviolet; */
    height: 50px;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1%;
}
.btn-admin-workers{
    background-color: rgba(234, 106, 18, 1);
    color: white;
}
.TableCell{
    font-family: 'Playfair Display', serif;
    background-color: black;
}
.dashboard-table-row,.container-edit-icon,.container-delete-icon{
    border: none;
    border-bottom: 1px solid rgba(234, 106, 18, 1);
}