.container-dashboard {
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 100%;
    height: 560px;
}
.container-table-btn{
    /* background-color: green; */
    width: 95%;
    height: 530px;
}
.container-table-workers{
  
    border-radius: 20px;
    border: 2px solid yellow
}
.table-dashboard-workers{
    background-color: white;
    border: none;
}

.table-subtitles{
    font-weight: bold;
    background-color:rgb(219, 216, 216);
    font-size: 20px;
}
