.container-dashboard-btnAddWorker {
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0% 1% 0% 1%;
    width: 100%;
    height: 100%
}

.container-table {
    /* background-color: green; */
    width: 95%;
    height: 100%;
    padding: 0% 1% 1% 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-table-workers {
    margin-top: 0.3%;
    border-radius: 20px;
    border: 1px solid rgba(234, 106, 18, 1);
    height: 548px;
}

.table-dashboard-workers {
    background-color: white;
    border: none;

}

.table-subtitles {
    background-color: rgb(219, 216, 216);
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.dashboard-table-row {
    /* background-color: blue; */
    font-size: 14px;
    padding: 1%;
}

.btn-add-worker {
    margin-top: 0.2%;
    border-radius: 20px;
    background-color: rgb(234, 106, 18,1);
    background-color: none;
    height: 45px;
    padding: 2%;
    display: flex;
    align-items: center;
    border: none;
    gap: 10%;
    color: white;
}

.new-container {
    /* background-color: brown; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-container-btn-add {
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}