
.background-app{
  margin-top:-10px;
  background-color: #013E49;
  /* padding: 100px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.up-options{
  margin: 0 auto;
  width: 95%;
  height: 95%;
  /* background-color: violet; */
  border-radius: 20px;
  border: 3px solid white;
  position: fixed;

}
.nav-waiter{
  margin: 0 auto;
  /* width: 95vw; */
  height: 20%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
}
