.background-app {
  margin-top: -10px;
  background-color:rgba(255, 246, 216, 0.34);
  /* padding: 100px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.up-options {
  margin: 0 auto;
  width: 99%;
  height: 99%;
  /* background-color: violet; */
  border-radius: 20px;
  border: 3px solid rgba(234, 106, 18, 1);
  position: fixed;

}
 /*/revisar si hace algooooo*/
.nav-waiter {
  margin: 0 auto;
  /* width: 95vw; */
  height: 20%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
}