.container-order-cooking{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
}
.container-order-ticket{
    /* background-color: green; */
    width: 50%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    margin-left: 1%;
    border-right: 2px solid white; 
}
.container-order-to-delivery{
    /* background-color: green; */
    width: 50%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1%;
    margin-right: 1%;
    overflow: auto;
}
.ticket-order{
    background-color: white;
    width: 225px;
    height: 350px;
    border-radius: 10px;
    margin: 1%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap:5px;
}
.order-status, .order-date, .order-date-exit {
    font-size: 12px;
}
.order-client{
    font-size: 14px;
}
.order-status{
    color:red;
}
.title-chef-orders{
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}
.title-status-chef{
    color: white;
    font-size: 20px;
}
.btn-order-ready{
    position: relative;
}
.btn-order-ready{
    border-radius: 100px;
    border-style: none;
    background-color: #D98F4E;
    color: #04404B;
    border: 1px solid black;
    padding: 2px 10px 3px 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 4px #050505;
}

