h1 {
  font-size: large;
  color: black;
}

.container-xl {
  display: flex;

}

.container-email-password-logo {
  padding: 60px;
  margin: 0 auto;
  background-color: #d9d9d9cb;
  display: flex;
  width: 560px;
  height: 570px;
  border-radius: 40px;
  font-size: 20px;
}

form {
  margin: 0 auto;
}

.bq-container-height {
  height: 100vh;
}

.login-logo {
  width: 200px;
  height: auto;
  margin-bottom: 40px;
}

.container-logo-login {
  justify-content: center;
}

.login-button {
  background-color: rgba(234, 106, 18, 1);
  border: none;
  font-size: 20px;
}

.error-message {
  color: rgb(173, 38, 38);
  margin-top: 5px;
}