h1 {
  font-size: large;
  color: black;
}
.background{
  position: absolute;
}

.section-waiter{
  border: 5px solid yellow;
}
.waiter-nav{
  position: relative;
  margin: 0 auto;
  width: 95vw;
  height: 20%;
  /* background-color: violet; */
}

.logos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.waiterIcon{
  position: relative;
  width: 120px;
  height: 120px;
  margin: 35px 35px;
}

.title{
margin: 35px 225px;
}


.BQLogo{
  width: 100px;
  height: 100px;
}
.hrsIcon{
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.container-logout{
  position: absolute;
  top: 30px;
  right: 20px;
}

.container-waiter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-credentials{
  /* background-color: rgb(188, 200, 12); */
  width: 95%;
  /* height: 50px; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.container-input-btn{
  display: flex;
  align-items: center;
}

.input-name{
  height: 35px;
  margin: 10px;
  color: #04404B;
}

.btn-order{
 background-color:rgb(219, 214, 214);
 color: #04404B
}

.clientName{
  /* background-color: black; */
  height: 35px;
  width: 30%;
  color: white;
  margin: 10px;
  text-align:justify;
  vertical-align: text-bottom;
  padding-top: 3px;
  
}
.container-btn-menu{
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
}
.container-menu{
  position: relative;
  background-color: #d9d9d9cb;
  height: 400px;
  width: 60%;
  margin-left: 4%;
  border-radius: 20px;
}

