h1 {
  font-size: larger;
  color:rgba(7, 20, 59, 1) ;
}

.section-waiter {
  /* border: 5px solid yellow; */
  position: relative;
}

.waiter-nav {
  margin: 0 auto;
  width: 99vw;
  height: 10%;
  /* background-color: rgba(234, 106, 18, 0.7) ; */
  border-radius: 20px 20px 0 0;
  margin-top: 1%;
}


.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 2.5px rgba(234, 106, 18, 1) ;
}

.waiterIcon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px 0px;
}

.orderLogo {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.container-order-logo {
  width: 82px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: white;
  background-color: rgba(234, 106, 18, 1) ;
}

.title {
  margin: 35px 225px;
}

.title-view {
  font-size: 30px;
  font-weight: bold;
  margin: 0px 10px;
}

.BQLogo {
  width: 100px;
  height: 100px;
}

.hrsIcon {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.container-logout {
  position: absolute;
  top: 30px;
  right: 40px;
}

.container-waiter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-credentials {
  /* background-color: rgb(188, 200, 12); */
  width: 95%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-input-btn {
  width: 50%;
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  /* margin-left: 5%; */
}

.input-name {
  height: 35px;
  margin: 10px;
  color: rgba(7, 20, 59, 1);
}

.btn-order {
  /* background-color: rgba(234, 106, 18, 1);
  font-size: 20px;
  color: white;
  border: 1px solid rgba(234, 106, 18, 1); */
  background-color: white;
  font-size: 20px;
  color: rgba(234, 106, 18, 1);
  border: 1px solid rgba(234, 106, 18, 1);
}

.btn-cook {
  background-color: rgba(234, 106, 18, 1);
  color: white;
  border: 1px solid rgba(234, 106, 18, 1);
}

/* .btn-add:active {
  background-color: #ef7035;
  color: rgb(227, 206, 193);
} */

.clientName {
  /* background-color: red; */
  height: 35px;
  width: 30%;
  font-size: 20px;
  color: rgba(7, 20, 59, 1);
  margin: 10px 10px 10px 50px;
  vertical-align: text-bottom;
  padding: 3px;
}

.container-btn-menu {
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

.container-menu {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  height: 590px;
  width: 85%;
  border-radius: 20px;
  margin-left: 0.5%;
  border: solid 3px rgba(234, 106, 18, 0.7);
  /* background-color: orange; */
}

.container-order-products {
  margin: 0 auto;
  /* background-color: green; */
  display: flex;
  position: relative;
  /* justify-content: center; */
  width: 94%;
  height: 100%;
  border-radius: 20px;
  padding-right: 10px;

}

.container-products {
  /* background-color: yellow; */
  padding-top: 3%;
  position: relative;
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  height: 89.5%;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}

.product-img {
  width: 90%;
  height: 90%;
}

.container-order {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  height: 95%;
  width: 45%;
  margin-left: 1%;
  border-radius: 20px;
  /* border: 2px solid blue; */
  padding: 10px 4px 5px 4px;
  border: solid 3px rgba(234, 106, 18, 0.7);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.card-product {
  background-color: white;
  width: 30%;
  height: 44%;
  border-radius: 10px;
  border: 1px solid rgba(234, 106, 18, 1);
  padding: 0.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-name {
  text-align: center;
  align-items: center;
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
}

.product-image {
  /* background-color: blue; */
  width: 110px;
  height: 110px;
  border-radius: 10px;
  margin-left: 12px;
  margin-top: 11%;
}

.container-price-btnAdd {
  /* background-color: red; */
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.product-price {
  font-size: 20px;
  margin: 0px 4px 0px 8px;
}

.btn-add {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border-style: none;
  background-color: rgba(234, 106, 18, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(234, 106, 18, 1);
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px 2px 4px #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 5px 5px rgba(0,0,0,0.5); */
}

.shopping-table {
  /* border: 2px solid red; */
  margin: 3%;
}

table,
th,
td {
  font-size: 14px;
  border: 1px solid rgba(234, 106, 18, 1);
  text-align: center;
  padding: 3px;
  color: rgba(7, 20, 59, 1);
}

th {
  font-size: 16px;
  color:rgba(7, 20, 59, 1);
}

.container-shopping-list {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.container-delete-icon {
  padding: 5px;
}
.all{
  width: 188px;
  height: 44px;
  border-radius: 24px;
  font-size: 22px;
}
.btn-selected {
  background-color: rgba(234, 106, 18, 1);
  font-size: 20px;
  color: white;
  border: 1px solid rgba(234, 106, 18, 1);
}