.container-form{
    /* background-color: blue; */
    padding: 5%;
    margin: 1% 5% 10% 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    width: 98%;
    justify-content: center;
}
.btn-form-submit-accept{
    /* background-color: blue; */
    position: absolute;
    margin-top: 21%;
    margin-right: 40%;
    padding: 1%;
    border-radius: 20px;
    width: 120px;
    height: 45px;
}
.btn-cancel,.btn-accept{
    padding: 3%;
    border-radius: 20px; 
    width: 120px;
    height: 45px;
}
